@charset "utf-8";

@font-face {
    font-family: arcade;
    src: url("../Fonts/arcade.TTF") format('truetype');
}

body {
    background-color: blue;
}

body h1 {
    font-family: arcade;
    color: red;
    text-align: center;
}

.topNav {
    background-color: aliceblue;
    overflow: hidden;
    display: block;
    text-align: center;
}

.topNav h1 {
    text-align: center;
    font-family: arcade;
    color: red;
}

.topNav a {
    text-decoration: none;
    font-family: arcade;
    text-align: center;
    padding: 14px 16px;
    color: red;
    font-size: 14px;
}

.topNav a:hover {
    background-color: green;
    color: blue;
}

.topNav a.current {
    background-color: white;
    color: black;
    text-decoration: underline;
}

.update01 {
    margin-top: 50px;
    display: block;
    background-color: aliceblue;
    font-family: arcade;
    text-align: center;
    overflow: hidden;
    color: black;
    height: 225px;
    width: 250px;
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
    outline: red solid 3px;
}

.update01:hover p {
    transform: scaleX(0.66);
    transform-origin: left;
}

.update01:hover {
    height: fit-content;
    width: 100%;
    transform-origin: right;
    overflow: auto;
}

.update01Text {
    text-align: center;
    margin-left: 475px;
}

.update02 {
    margin-top: 50px;
    display: block;
    background-color: aliceblue;
    font-family: arcade;
    text-align: center;
    overflow: hidden;
    color: black;
    height: 225px;
    width: 250px;
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
    outline: red solid 3px;
}

.update02:hover p {
    transform: scaleX(0.66);
    transform-origin: left;
}

.update02:hover {
    height: fit-content;
    width: 100%;
    transform-origin: right;
    overflow: auto;
}

.update02Text {
    text-align: center;
    margin-left: 475px;
}